.wrap {
    width: 100%;
    background-color: #2D393A;
    color:#fff;
    min-height: 540px;
}

.cource {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.cource .title {
    text-align: center;
    font-size:30px;
    
}

.cource .courceContent {
    display: flex;
    justify-content: center;
    margin:10px 25px;
    
}

.courceContent .column {
    margin: 10px 20px;
    width: 100%;
    
}
.courceContent .column div{
    background-color: rgba(238, 240, 235);
}


.courceContent .column .group {
    color: #2D393A;
    font-weight: bold;
    background-color:#FF8811;  
    padding: 10px;
    font-size: large;
    text-align:center;
}

.courceContent .column .second a {
    padding: 5px;
    text-decoration: none;
    color:#053061;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.courceContent .column .second a:focus{
    color:#336666;
}

.courceContent .column .second a+a {
    border-top: 1px solid rgba(0, 0, 0, .2);
}

.column div {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
               