#one:checked~.second {
    display: none;
}
#two:checked~.second {
    display: none;
}


#three:checked~.second {
    display: none;
}

#four:checked~.second {
    display: none;
}

#five:checked~.second {
    display: none;
}

#six:checked~.second {
    display: none;
}

#seven:checked~.second {
    display: none;
}

#eight:checked~.second {
    display: none;
}

#nine:checked~.second {
    display: none;
}

#ten:checked~.second {
    display: none;
}

#eleven:checked~.second {
    display: none;
}

#twelve:checked~.second {
    display: none;
}

#thirteen:checked~.second {
    display: none;
}

#fourteen:checked~.second {
    display: none;
}